:root{
    /* Colors */
    --color-black: #050505;
    --color-dark-grey: #1F1F1F;
    --color-mid-grey: #2D2D2D;
    --color-light-grey: #757575;
    --color-bg-light: #F4F4F4;
    --color-white: #FFFFFF;
    --color-purple: #A445ED;
    --color-red: #FF5252;
    --play-btn-color:#E8D0FA;
    --play-btn-before-color: #A445ED;

    /* Font Families */
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Inconsalata", monospace;

    /* Default Settings*/
    --body-bg: var(--color-white);
    --text-color: var(--color-mid-grey);
    --current-font: var(--font-sans);
}

body.dark-theme{
    --body-bg: var(--color-black);
    --text-color: var(--color-white);
    --color-bg-light: var(--color-dark-grey);
    --play-btn-color: #2D153F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--current-font);
    background-color: var(--body-bg);
    color: var(--text-color);
}

header, main{
    width: 100%;
    max-width: 768px;
}

img{
    max-width: 100%;
}

header{
    padding: 24px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.logo-container{
    height: 34px;
}
.controls-container{
    display: flex;
    align-items: center;
}

.font-selector{
    position: relative;
    margin-right: 16px;
}

.selected-font{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    font-family: var(--current-font);
}

.font-menu{
    position: absolute;
    top: 35px;
    right: 0;
    width: 183px;
    background-color: var(--body-bg);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 24px;
    z-index: 10;
}

body.dark-theme .font-menu{
    box-shadow: 0px 5px 30px var(--color-purple);
}

.font-menu li{
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.2s;
    list-style: none;
}

.font-menu li:last-child{
    margin-bottom: 0;
}

.font-menu li:hover{
    color: var(--color-purple);
}

/* Going to add a hidden class with js */
.hidden{
    display: none;
}

.divider{
    width: 1px;
    height: 32px;
    background-color: #E9E9E9;
    margin-right: 16px;
}

.theme-switcher{
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: var(--color-light-grey);
    border-radius: 10px;
    transition: 0.4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider{
    background-color: var(--color-purple);
}

input:checked + .slider::before{
    transform: translateX(20px);
}

.theme-icon{
    width: 22px;
    height: auto;
    display: block;
}

.dark-icon{
    display: none;
    stroke: var(--color-purple);
}

body.dark-theme .light-icon{
    display: none;
}

body.dark-theme .dark-icon{
    display: block;
}

.search-box{
    background-color: var(--color-bg-light);
    border-radius: 16px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    transition: border 0.3s;
}

.search-box:focus-within{
    border: 1px solid var(--color-purple);
}

#search-input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.error-text{
    color: var(--color-red);
    margin-top: 8px;
    display: none;
}

/* going to add with js */
.search-box.error-border{
    border:1px solid var(--color-red);
}

#result-container{
    padding: 24px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.word-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-header h1{
    font-size: 32px;
    font-weight: bold;
}

.phonetic{
    font-size: 18px;
    color: var(--color-purple);
    font-family: var(--font-sans);
}

.play-btn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--play-btn-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--color-purple);
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.play-btn:hover{
    background-color: var(--color-purple);
}

.play-btn:hover::after{
    border-left-color: var(--color-white);
}

.play-btn:active{
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.part-of-speech{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.part-of-speech h3{
    font-size:18px;
    font-weight: bold;
    font-style: italic;
    margin-right: 25px;
}

.part-of-speech .line{
    flex-grow: 1;
    height: 1px;
    background-color: #E9E9E9;
}

body.dark-theme .part-of-speech .line{
    background-color: #3a3a3a;
}

.definitions h4{
    font-size: 16px;
    color: var(--color-light-grey);
    margin-bottom: 15px;
    font-weight:400;
}

.definitions ul{
    list-style: none;
    
}

.definitions li{
    margin-bottom: 13px;
    line-height: 24px;
    font-size: 15px;
}

.definitions li::before{
    content: "";
    display: inline-block;
    margin-right: 10px;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-purple);
}

.example{
    display: flex;
    gap: 20px;
    line-height: 24px;
    color: var(--color-light-grey);
    margin-left: 20px;
}

.synonyms{
    display: flex;
    gap: 14px;
    align-items: flex-start;
}

.synonyms h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light-grey);
}

.synonyms p{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-purple);
    cursor: pointer;
}

.divider-bottom{
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
}

.source{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: var(--color-light-grey);
    margin-bottom: 80px;
}

.source p{
    text-decoration: underline;
}

.source a{
    color: var(--text-color);
    text-decoration: underline;
    align-items: center;
    justify-content: center;
}

.no-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;

}

.no-result p{
    text-align: center;
}

/* Tablet */
@media(min-width: 768px){
    header, main{
        max-width: 1024px;
    }

    header{
        padding: 60px 39px 43px 39px;
    }

    .header-top{
        margin-bottom: 54px;
    }
    .selected-font{
        font-size: 18px;
    }

    .font-selector{
        margin-right: 26px;
    }

    .divider{
        margin-right: 26px;
    }

    .theme-switcher{
        gap: 20px;
    }

    .search-box{
        height: 64px;
    }

    #result-container{
        padding: 60px 39px;
        padding-top: 0;
    }

    .word-header h1{
        font-size: 64px;
    }

    .phonetic{
        font-size: 24px;
        margin-top: 8px;
    }

    .play-btn{
        width: 75px;
        height: 75px;
    }

    .part-of-speech h3{
        font-size: 24px;
        margin-right: 20px;
    }

    .definitions h4{
        font-size: 20px;
        margin-bottom: 25px;
    }

    .definitions li{
        margin-bottom: 22px;
        font-size: 18px;
        margin-left: 22px;
    }

    .example{
        font-size: 20px;
    }

    .synonyms{
        gap: 24px;
    }

    .synonyms h4{
        font-size: 20px;
    }

    .synonyms p{
        font-size: 20px;
    }

    .source{
        gap: 20px;
        flex-direction: row;
    }
}

@media(min-width:1024px){
    header, main{
        margin: 0 auto;
    }
}